@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
header
{
    width: 100%;
    height: 70px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
}
header h2
{
    color:white;
    font-size: 1.8em;
    font-weight: 700;
}
header ul
{
    display: flex;
}
header ul li
{
    margin: 0px 10px;
}
header ul li a
{
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    transition-duration: 0.4s;
}
header ul li a:hover
{
    color: black;
    background-color:white;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.banner
{
    width: 100%;
    /* background-color: blue; */
    background: url(../images/image-header.jpg);
    background-size: cover;
    height: 100vh;
}
.banner .headerconten
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner .headerconten h2
{
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 100px;
    margin-top: 60px;
}
.brand
{
    width: 100%;
    height: 55vh;
    transform: translateY(120px);
    opacity: 0;
    transition: 1s;
    display: flex;
    align-items: center;
}
.brand.active
{
    transform: translate(0);
    opacity: 1;
}
.brand .leftside
{
    width: 50%;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand .leftside .leftsidecontent
{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 60px;
}
.brand .leftside .leftsidecontent h2
{
    color: #222;
    font-size: 2em;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 1.3px;
}
.brand .leftside .leftsidecontent p
{
    color: #888;
    line-height: 25px;
}
.brand .leftside .leftsidecontent button
{
    margin-top: 20px;
    outline: none;
    border: none;
    padding: 4px 10px;
    background-color: transparent;
    font-size: 17px;
    /* margin-right: 100px; */
    text-transform: capitalize;
    position: relative;
    transition-duration: 0.8s;
    cursor: pointer;
}
.brand .leftside .leftsidecontent button::before
{
    content: "";
    position: absolute;
    bottom: 5px;
    width: 0%;
    right: 1.5px;
    height: 5px;
    border-radius: 5px;
    background-color: burlywood;
}
.brand .leftside .leftsidecontent button:hover::before
{
    width: 100%;
}
.brand .rightside
{
    width: 50%;
    height: 100%;
    background: url(../images/image-transform.jpg);
    background-size: cover
}
.brand2
{
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    transform: translateY(120px);   
    opacity: 0;
    transition: 1s;
}
.brand2.active
{
    opacity: 1;
    transform: translate(0);
}
.brand2 .leftside2
{
    width: 50%;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand2 .leftside2 .leftsidecontent
{
    /* width: 60%; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    padding: 60px;
}
.brand2 .leftside2 .leftsidecontent h2
{
    color: #222;
    font-size: 2em;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 1.3px;
}
.brand2 .leftside2 .leftsidecontent p
{
    color: #888;
    line-height: 25px;
}
.brand2 .leftside2 .leftsidecontent button
{
    margin-top: 20px;
    outline: none;
    border: none;
    padding: 4px 10px;
    background-color: transparent;
    font-size: 17px;
    /* margin-right: 100px; */
    text-transform: capitalize;
    position: relative;
    transition-duration: 0.8s;
    cursor: pointer;
}
.brand2 .leftside2 .leftsidecontent button::before
{
    content: "";
    position: absolute;
    bottom: 5px;
    width: 0%;
    right: 1.5px;
    height: 5px;
    border-radius: 5px;
    background-color: burlywood;
}
.brand2 .leftside2 .leftsidecontent button:hover::before
{
    width: 100%;
}
.brand2 .rightside2
{
    width: 50%;
    height: 100%;
    background: url(../images/image-stand-out.jpg);
    background-size: cover
}
.twoimage
{
    width: 100%;
    height: 60vh;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translateY(120px);
    transition: 1s;
}
.twoimage.active
{
    opacity: 1;
    transform: translate(0);
}
.twoimage .leftimg
{
    width: 50%;
    height: 100%;
    background: url(../images/image-graphic-design.jpg);
}
.twoimage .leftimg .imgcontent
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 350px 50px;
}
.twoimage .leftimg .imgcontent h2
{
    color: rgb(51, 59, 81);
    text-transform: capitalize;
}
.twoimage .leftimg .imgcontent p
{
    margin-top: 10px;
    text-align: justify;
    color: rgb(65, 93, 113);
}
.twoimage .rightimg
{
    width: 50%;
    height: 100%;
    background: url(../images/image-photography.jpg);
}
.twoimage .rightimg .imgcontent
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 350px 50px;
}
.twoimage .rightimg .imgcontent h2
{
    color: rgb(51, 59, 81);
    text-transform: capitalize;
}
.twoimage .rightimg .imgcontent p
{
    margin-top: 10px;
    text-align: justify;
    color: rgb(65, 93, 113);
}
.testimonials
{
    width: 100%;
    height: 70vh;
    background-color: aliceblue;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonials h2
{
    color: rgb(11, 34, 75);
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.testimonials .cards
{
    /* width: 400px; */
    height: 400px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: 1.5s;
    transform: translateY(120px);
}
.testimonials .cards.active
{
    opacity: 1;
    transform: translate(0);
}
.testimonials .cards .card
{
    width: 400px;
    height: 380px;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.testimonials .cards .card:hover
{
    box-shadow: 0px 0px 10px rgb(219, 217, 217);
    transform: translateY(-5px);

}
.testimonials .cards .card img
{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.testimonials .cards .card p
{
    color: #888;
    text-align: center;
    font-size: 16px;
}
.testimonials .cards .card h4
{
    color: black;
    font-size: 18px;
    text-transform: capitalize;
}
.image
{
    width: 100%;
    height: 400px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image .images
{
    height: 100%;
    width: 25%;
    background: url(../images/image-gallery-cone.jpg);
    background-size: cover;
}
.image .images2
{
    height: 100%;
    width: 25%;
    background: url(../images/image-gallery-milkbottles.jpg);
    background-size: cover;
}
.image .images3
{
    height: 100%;
    width: 25%;
    background: url(../images/image-gallery-orange.jpg);
    background-size: cover;
}
.image .images4
{
    height: 100%;
    width: 25%;
    background: url(../images/image-gallery-sugar-cubes.jpg);
    background-size: cover;
}
footer
{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: #79B4B7;
}
footer h2
{
    color:rgb(80, 56, 56);
    font-size: 2em;
    margin-bottom: 30px;
}
footer .links
{
    display: flex; 
    justify-content: space-between;
    margin-bottom: 30px;
}
footer .links ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .links ul li
{
    margin: 0px 30px;
}
footer .links ul li a
{
    font-size: 18px;
}
footer .icons
{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    /* padding: 30px; */
    /* border: 1px solid black; */
    margin-left: 10px;
}
footer .icons img
{
    width: 30px;
    height: 30px;
    margin: 0px 20px;
    object-fit: cover;
}